%regular-m {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

%bold-m{
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

%regular-r {
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}

%light-r {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;

}

%regular-ks {
    font-family: 'Fira Mono', monospace;
    font-weight: 500;
}


